[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A sandbox repository destined to test some git related features
[access "refs/*"]
	owner = group user/Raul Negreiros (raulnegreiros)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Raul Negreiros (raulnegreiros)
	label-Verified = -1..+1 group user/Raul Negreiros (raulnegreiros)
	push = group user/Raul Negreiros (raulnegreiros)
	read = group user/Raul Negreiros (raulnegreiros)
	rebase = group user/Raul Negreiros (raulnegreiros)
	removeReviewer = group user/Raul Negreiros (raulnegreiros)
	submit = group user/Raul Negreiros (raulnegreiros)
[access "refs/heads/*"]
	create = group user/Raul Negreiros (raulnegreiros)
	push = deny +force group user/Raul Negreiros (raulnegreiros)
	pushMerge = group user/Raul Negreiros (raulnegreiros)
	read = group user/Raul Negreiros (raulnegreiros)
[access "refs/tags/*"]
	push = group user/Raul Negreiros (raulnegreiros)
	push = +force group user/Raul Negreiros (raulnegreiros)
